@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #3a0355;
    --primary-dark : #14001d;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}
body {
    background-color:  var(--primary);
}
.background {
    display: grid;
    place-items: center;
    height: 100vh;
}
.box {
    padding: 20px;
    width: 400px;
    background-color: wheat;
}
.upper h1 {
    font-size: 32px;
    font-weight: 300;
    line-height: 32px;
}
.upper,form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    gap: 10px;
    margin-top: 10px;
}
form input {
    width: 100%;
    padding: 10px 15px;
    height: 40px;
}
form input:focus-visible {
    border: 1px solid var(--primary);
    outline: 1px solid var(--primary);
}
form button {
    width: 100%;
    padding: 10px 15px;
    height: 40px;
    background-color: var(--primary-dark);
    color: white;
    border: none;
    opacity: 0.9;
    transition: 0.3s ease-in;
}
form button:hover {
    opacity: 1;
}
form button:active {
    background-color: var(--primary-dark);
}
.qr-container {
    border: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    display: none;
    padding: 10px;
}
.qr-container.show {
    display: flex;
}
.qr-container img {
    height: 150px;

}